    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
    
    body{
        background-image: url('../img/bg-tablet-pattern.svg');
        background-size:contain;
        font-family: 'Be Vietnam Pro', sans-serif;
        width: 100%;
    }

    header{
        height: 174px;
        display: flex;
        justify-content: space-around;
        padding: 75px 80px;
       
    }
    #menu-burger{
        display: none;
    }
    #nav-top-bar{
        display: flex;
    
    
    }
    .element-nav-top-bar{
        margin-right: 25px;
        text-decoration: none;
        font-weight: 500;
        color:rgb(29, 30, 37);
        
    }
    
    .button-nav-top-bar{
        
        color: #FFFFFF;
        background-color: #F3603B;
        padding: 10px 30px 10px 30px;
        border-radius: 50px;
        text-decoration: none;
        
    }

    #home{
        display: flex;
        padding: 8%;
        
    }

    #frase-home{
        width: 50%;
    }  
    
    #illustration-home{
        width: 50%;
    }



    .title-home{
        color: #232C50;
        font-size: 40px;
        font-weight: 700;

    }
    .text-home{
        padding-top: 40px;
        padding-right: 140px;
        padding-bottom: 50px;
        color:#B3B2B7;
    }
    .button-home{
        color: #FFFFFF;
        background-color:#F3603B;
        padding: 10px 30px 10px 30px;
        margin-right: 330px;
        border-radius: 50px;
        text-decoration: none;
    }

    #about-us{
        display: flex;
        
        padding: 0px 100px 100px 100px;
    }

    .title-frame-one{
        font-size: 30px;
        padding-bottom: 50px;
        color: #232851;
    }
    .text-frame-one{
        font-weight: 500;
        color: #B3B2B7;
        
    }

    #frame-two{
        
        padding-left: 240px;
        position: relative;
    }

    .title-sub-frame{
        padding-bottom: 20px;
        color: #323851;
    }
    .text-sub-frame{
        padding-bottom: 30px;
        color: #B3B2B7;
    }

    .button-sub-frame{
        color: #FFFFFF;
        background-color: #F3603B;
        border-radius: 30px;
        padding: 10px 25px 10px 25px;
        position: absolute;
        left: 150px;
    }

    #cards-testimonials{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
    }

    .title-testimonials{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #242E53;
        padding-bottom: 50px;
    }  

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
    }

    .text-card{
        text-align: center;
        padding-top: 20px;
        color: #B9B9C1;
        font-weight: 600;
    }

    .title-card{
        color: #3F4868;
        font-weight: 700;
    }

    .button-testimonials{
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        background-color:#F3603B;
        padding: 10px 30px 10px 30px;
        border-radius: 50px;

        
    }

    #testimonials{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }


    #notice{
        height: 200px;
        background-color: #F3613C;
        background-image: url("../img/bg-simplify-section-desktop.svg");
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .button-notice{
        text-decoration: none;
        color: #F3603B;
        background-color:white;
        padding: 10px 30px 10px 30px;
        border-radius: 50px;
    }

    .text-notice{
        color: white;
        font-size: 40px;
        font-weight: 700;
    }

    footer{
        height: 200px;
        background-color: #1E1E26;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .social-networks{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        justify-content: space-around;
    }

    #panel-two{
        display: flex;
        line-height: 30px;
        font-weight: 400;
    }
    
    #column-one{
        padding-right: 200px;
    }

    .element-bot-bar{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 400;
    }

    .space-form{
        padding: 10px 40px 10px 10px;
        border-radius: 50px;
        border: none;
    }

    .button-form{
        padding: 10px 15px 10px 15px;
        border-radius: 50px;
        color: #FFFFFF;
        background-color: #F3603B;
        margin-left: 7px;
        border: none;
    }

    .all-rights-reserved{
        color:#8C8C94;
        font-weight: 500;
        font-size: 11px;
        padding-top: 50px;
    }

    #panel-three{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   

     .element-nav-top-bar:hover {
        color:rgb(143, 148, 167);
    }

     .button-nav-top-bar:hover, .button-home:hover, .button-testimonials:hover, .button-form:hover{
        background-color: #f79a83;
    }

    .element-bot-bar:hover{
       color: rgb(242, 95, 58);
    }

    @media (max-width:480px){

        

        #nav-top-bar{
            display: none;
        }
        .button-nav-top-bar{
            display: none;
        } 
        
        #menu-burger{
            display: flex;
        }

        header{
            width: 100%;
            justify-content: space-around;
            padding: 80px 0px 75px 0px;
        }
        #home{
            flex-direction: column-reverse;
            padding: 0;
            width: auto;
            margin-bottom: 20%;
        }

        #frase-home{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .text-home{
            padding: 40px 30px 50px 30px;
            line-height: 2;
        }
        .title-home{
            padding-right: 5%;
            padding-left: 5%;
        }

        .button-home{
            margin-right: 0;
        }

        #illustration-home{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 15%;
        }
        #about-us{
            display: flex;
            flex-direction: column;
            width: auto;
            padding: 0% 0% 15% 0%;
            
        }

        #frame-one{
            text-align: center;
            line-height: 2;
            padding: 5%;
        }

        #frame-two{
            padding-top: 70px;
            text-align: center;
            padding-left: 0;
            width: auto;
        }

        .title-sub-frame{
            height: 40px;
            background-color: #ffd8ce;
            padding-top: 8px;
            border-radius: 30px 0px 30px 30px;
            padding-left: 60px;

        }
        .text-sub-frame{
            text-align: start;
            line-height: 2;
            padding-right: 10%;
            padding-left: 10%;
        }

        .button-sub-frame{
             left: 2px;
        }

        #testimonials{
            
            width: 100%;
            
        }

        #cards-testimonials{
            
            flex-direction: column;
        }

        .card{
            width: 100%;
            padding-bottom: 15%;
            padding-left: 15%;
            padding-right: 15%;
        }

        #notice{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 40% 10% 40% 10%;
            text-align: center;
        }
        .text-notice{
            padding-bottom: 60px;
        }

        footer{
            width: 100%;
            height: auto;
            flex-direction: column-reverse;
        }

        #panel-one{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;

        }

        .icon{
            width: 40px;
            height: 40px;
        }

        .social-networks{
            padding-bottom: 50px;
            width: 100%;
        }
        

        #panel-two{
            align-items: center;
        }

        #column-one{
            padding-right: 150px;
        }

        #panel-three{
            padding-top: 60px;
            padding-bottom: 60px;
        }
        
        .all-rights-reserved{
            display: none;
        }

        .space-form{
            padding: 15px 117px 15px 10px;
        }
        .button-form{
            padding: 15px 25px 15px 25px;
        }

        }

    

    





